
.titulo {
  font-size: 26xp;
  font-weight: 500;
  padding: 0px;
  margin: 0 !important;
  color: var(--primary-color);
}

.subtitulo {
  font-size: 16xp;
  font-weight: 300;
  padding: 0px;
  margin: 2px 0px 14px 0px;
  color: var(--gray-color);
}
